/*
    General CSS File.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
}
::selection
{
    background-color: #9258c4;
    color: #FFFFFF;
}

body
{
    background-color: #161618;
    color: #FFFFFF;
}

nav 
{
    background-color: #FFFFFF;
    color: #161618;
}

.nav-link
{
    border-bottom: solid 2px transparent;
}

@keyframes nav-link-hover
{
    0%   {border-bottom: solid #9258c4 2px; width: 0%; color: #9258c4; opacity: 0%;}
    25%  {border-bottom: solid #9258c4 2px; width: 25%; color: #9258c4; opacity: 25%;}
    50%  {border-bottom: solid #9258c4 2px; width: 50%; color: #9258c4; opacity: 50%;}
    100% {border-bottom: solid #9258c4 2px; width: 100%; color: #9258c4; opacity: 100%;}
}
.nav-link:hover 
{
    animation: nav-link-hover .35s ease-in;
    animation-fill-mode: both;
}

.title-between
{
    font-size: 75px;
    margin: 150px 0;
    color: #9258c4;
    font-family: "Montserrat", sans-serif;
}

/*
    End of General CSS File.
*/