/*
    General CSS File.
*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #161618;
    color: #FFFFFF;
}

nav 
{
    background-color: #FFFFFF;
    color: #161618;
}

.nav-link
{
    border-bottom: solid 2px transparent;
}

@keyframes nav-link-hover
{
    0%   {border-bottom: solid #9258c4 2px; width: 0%;}
    25%  {border-bottom: solid #9258c4 2px; width: 25%;}
    50%  {border-bottom: solid #9258c4 2px; width: 50%;}
    100% {border-bottom: solid #9258c4 2px; width: 100%;}
}
.nav-link:hover 
{
    animation: nav-link-hover .2s ease-in;
    animation-fill-mode: both;
}

.title-between
{
    font-size: 75px;
}

/*
    End of General CSS File.
*/